{% extends "index-base.html" %}
{% load static %}

{% block navbar %}
    <a class="navbar-brand" href="index.html"> <img src={% static "img/logo.png" %} class="logo" alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse main-menu-item justify-content-end"
         id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Analysis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'dcf-calculator' %}">DCF-Calculator</a>
                    <a class="dropdown-item" href="{% url 'portfolio-builder' %}">Portfolio Builder</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
<!-- Header part end-->

<!-- banner part start-->
{% block main %}
    <div class="col-lg-7 title-menu">
        <div class="banner_text">
            <div class="banner_text_iner">
                <h1>Notice: Work in progress</h1>
                <p>This is a personal project of mine, that seeks to provide equity valuation, portfolio construction
                    and trading.
                    All this on a single web app that is easy to use. My goal is with this is twofold. Firstly, improve
                    my financial
                    knowledge through integrating statistics, technology and business analytics. Secondly, provide an
                    open source
                    project for other FinTech enthusiasts to kick start their own project.</p>
            </div>
        </div>
    </div>
{% endblock %}
<!-- banner part start-->

<!-- about part start-->
{% block about %}

{% endblock %}
<!-- about part start-->

<!-- service part start-->
{% block services %}

{% endblock %}
<!-- service part end-->

<!-- footer part start-->
{% block footer %}

{% endblock %}
<!-- footer part end-->