{% extends "service-base.html" %}
{% load static %}
{% load humanize %}

{% block css %}
    <!-- style CSS -->
    <link rel="stylesheet" href={% static "css/autocomplete.css" %}>
{% endblock %}

{% block title %}
    Analysis
{% endblock %}


{% block navbar %}
    <a class="navbar-brand" href="../index.html"> <img src={% static "img/logo.png" %} alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse main-menu-item justify-content-end"
         id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="dcf-calculator.html">DCF</a>
            </li>
        </ul>
    </div>
{% endblock %}

<!--================Blog Area =================-->
{% block main %}
    <div class="calculator">
        <div>
            <h2>Automatic DCF-Calculator</h2>
            <div class="row">
                <form action="dcf-calculator.html" method="post" class="form-input">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group mb-3" style="width: 100%; margin: 10px;">
                            <label for="equity">Choose an equity:</label>
                            <div class="autocomplete" style="width: inherit">
                                <input type="text" id="equity" name="equity" style="width: inherit">
                            </div>
                        </div>
                        <div class="row" style="justify-content: center;">
                            <div class="input-group mb-3" style="width: 45%; margin: 10px;">
                                <label for="discount_rate">Discount rate (in %):</label>
                                <input type="number" class="form-control" style="width: 100%" name="discount_rate"
                                       placeholder={{ discount_rate }}>
                            </div>
                            <div class="input-group mb-3" style="width: 45%; margin: 10px;">
                                <label for="years">Historic data to use (in years):</label>
                                <input type="number" class="form-control" style="width: 100%" name="years"
                                       placeholder={{ years }}>
                            </div>
                        </div>
                    </div>
                    <button class="button rounded-0 primary-bg text-white w-100 btn_4" type="submit">Search</button>
                </form>
                <div class="side logo">
                </div>
            </div>
            <div class="excel scrollable">
                <table class="table">
                    <tr>
                        <th>{{ eq }} in USD</th>
                        {% for year in past_years %}
                            <th>{{ year }}</th>
                        {% endfor %}
                    </tr>
                    {% for k,v in used_params.items %}
                        <tr>
                            <td>{{ k }}</td>
                            {% for paramvalue in v %}
                                <td>{{ paramvalue|floatformat:2|intcomma }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr style="font-weight: bold">
                        <td>UFCF</td>
                        {% for cashflow in ufcf %}
                            <td>{{ cashflow|floatformat:2|intcomma }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="excel scrollable">
                <table class="table">
                    <tr>
                        <th>{{ eq }} in USD</th>
                        <th>Today</th>
                    </tr>
                    <tr>
                        <td>Equity Value</td>
                        <td>{{ eq_val|floatformat:2|intcomma }}</td>
                    </tr>
                    <tr>
                        <td>Share Price</td>
                        <td>{{ pps|floatformat:2|intcomma }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
<!--================Blog Area end =================-->

<!-- footer part start-->
{% block footer %}
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Top Products</h4>
        <ul>
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
        </ul>
    </div>
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Quick Links</h4>
        <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Features</h4>
        <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Resources</h4>
        <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <!-- custom js -->
    <script src={% static "js/autocomplete.js" %}></script>
    <script type="text/javascript">
        var arr = {{ all_eq|safe }};
        autocomplete(document.getElementById("equity"), arr);
    </script>
{% endblock %}