{% extends "service-base.html" %}
{% load static %}
{% load humanize %}

{% block css %}
    <!-- style CSS -->
    <link rel="stylesheet" href={% static "css/autocomplete.css" %}>
{% endblock %}

{% block title %}
    Portfolio Builder
{% endblock %}


{% block navbar %}
    <a class="navbar-brand" href="../index.html"> <img src={% static "img/logo.png" %} class="logo" alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse main-menu-item justify-content-end"
         id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown active-dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Analysis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'dcf-calculator' %}">DCF-Calculator</a>
                    <a class="dropdown-item active" href="{% url 'portfolio-builder' %}">Portfolio Builder</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

<!--================Blog Area =================-->
{% block main %}
    <div class="calculator">
        <div>
            <h2>Portfolio Builder</h2>
            <div class="row">
                <form action="{% url 'portfolio-builder' %}" method="post" class="form-input">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group mb-3" style="width: 100%; margin: 10px;">
                            <label for="tickers">Choose an equity:</label>
                            <div class="autocomplete" style="width: inherit">
                                <input type="text" id="equity" name="tickers" style="width: inherit" multiple>
                            </div>
                        </div>
                        <div class="row" id="equities" style="justify-content: center;">
                        </div>
                    </div>
                    <button class="button rounded-0 primary-bg text-white w-100 btn_4" type="submit">Compute</button>
                </form>
                <div class="side robot">
                </div>
            </div>
            <div class="excel scrollable">
                <table class="table">
                    <tr>
                        <th>Calculated Returns</th>
                        {% for year in years %}
                            <th>{{ year }}</th>
                        {% endfor %}
                    </tr>
                    {% for k,v in annual_returns.items %}
                        <tr>
                            <td>{{ k|safe }}</td>
                            {% for k2,v2 in v.items %}
                                <td>{{ v2|floatformat:2|intcomma }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="excel scrollable">
                <table class="table">
                    <tr>
                        <th>Calculated Volatility</th>
                        {% for year in years %}
                            <th>{{ year }}</th>
                        {% endfor %}
                    </tr>
                    {% for k,v in annual_volatility.items %}
                        <tr>
                            <td>{{ k }}</td>
                            {% for k2,v2 in v.items %}
                                <td>{{ v2|floatformat:2|intcomma }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
<!--================Blog Area end =================-->

<!-- footer part start-->
{% block footer %}
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Top Products</h4>
        <ul>
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
        </ul>
    </div>
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Quick Links</h4>
        <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Features</h4>
        <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </div>
    <div class="col-xl-2 col-sm-4 mb-4 mb-xl-0 single-footer-widget">
        <h4>Resources</h4>
        <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <!-- custom js -->
    <script src={% static "js/autocomplete.js" %}></script>
    <script type="text/javascript">
        var arr = {{ all_eq|safe }};
        autocomplete(document.getElementById("equity"), arr);
    </script>
{% endblock %}