{% extends "service-base.html" %}
{% load static %}
{% load humanize %}

{% block css %}
    <!-- style CSS -->
    <link rel="stylesheet" href={% static "css/autocomplete.css" %}>
{% endblock %}

{% block title %}
    Portfolio Builder
{% endblock %}


{% block navbar %}
    <a class="navbar-brand" href="../index.html"> <img src={% static "img/logo.png" %} class="logo" alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse main-menu-item justify-content-end"
         id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown active-dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Analysis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'dcf-calculator' %}">DCF-Calculator</a>
                    <a class="dropdown-item active" href="{% url 'portfolio-builder' %}">Portfolio Builder</a>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

<!--================Blog Area =================-->
{% block main %}
    <section class="blog_area single-post-area service-menu">
        <div class="container">
            <div class="row">
                <div class="calculator">
                    <div>
                        <h2>Portfolio Builder</h2>
                        <div class="row">
                            <form action="{% url 'portfolio-builder' %}" method="post" class="form-input"
                                  id="pBuilderForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group mb-3" style="width: 100%; margin: 10px;">
                                        <label for="tickers">Choose an equity:</label>
                                        <div class="autocomplete" style="width: inherit">
                                            <input type="text" id="equity" name="tickers" style="width: inherit"
                                                   multiple>
                                        </div>
                                    </div>
                                    <div class="row" id="equities" style="justify-content: center;">
                                        <input type="text" id="chosenTickers" name="chosenTickers"
                                               style="visibility: hidden; position: absolute" multiple>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_4" id="submitBtn"
                                        type="submit">
                                    Compute
                                </button>
                            </form>
                            <div class="side form-input">
                                <canvas id="efficientFrontier"></canvas>
                            </div>
                        </div>
                        <div class="excel scrollable">
                            <table id="tblReturns" class="table">
                                <thead>
                                <tr>
                                    <th>Calculated Returns</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="excel scrollable">
                            <table id="tblVolats" class="table">
                                <thead>
                                <tr>
                                    <th>Calculated Volatility</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
<!--================Blog Area end =================-->

<!-- footer part start-->
{% block footer %}

{% endblock %}

{% block scripts %}
    <!-- custom js -->
    <script src={% static "js/autocomplete.js" %}></script>
    <script src={% static "js/loadingAnim.js" %}></script>
    <script src={% static "js/charts.js" %}></script>
    <script src={% static "js/tblUtilities.js" %}></script>
    <script src={% static "js/portfolioBuilder.js" %}></script>
    <script type="text/javascript">
        var arr = {{ all_eq|safe }};
        autocomplete(document.getElementById("equity"), arr);
        pBuilderForm();
    </script>
{% endblock %}